  body{
    font-family: "Roboto", sans-serif;
  }


  /* navigation page */
  header{
    margin-top: 5px;
    position: sticky;
    top: 5px;
    z-index: 100;
  }
  .navbarcontain{
    background-color: #003334;
    padding:3px 40px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    gap: 30px;
    border: solid 1px  rgba(210, 255, 7, 1) ;
  }

  .logoimg{
    background-color: rgba(97, 165, 142, 0);
    position: absolute;
    top: 2%;
    left: 6vw;
  }

  .nav-link{
    color: rgba(255, 255, 255, 0.663);
   
    
  }
  .nav-link:hover{
    color:#003334;
     background-color:rgba(210, 255, 7, 0.815);
     border-radius: 5px;
     transition: color 0.4s linear, background-color 0.4s linear;
  }

  .activemode{
     color:#003334;
     background-color:rgba(255, 255, 255, 0.925);
     border-radius: 5px;
     font-weight: 700;  
   
     
  }
  #fname{
    
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 5px;
    font-weight: 300;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
    
  }

 
  #submitbutton{
     padding: 10px 20px;
     margin-top: 10px;
     border: none;
     background-color: rgba(210, 255, 7, 1);
     border-radius: 20px;
     transition: background-color .3s ease-in-out,color .5s ease-in-out;
     color:#003334;
  }
  #submitbutton:hover{
    background-color: #003334;
    color: white;
    background-color: transparent;
    border: solid 2px  rgba(210, 255, 7, 1) ;
  }
 
  /* navigation page */
   
  /* herosection  start*/
  .herosection{
    margin-top: 20px;
    position: relative;
  }
  
  .contactformdiv{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    visibility: hidden;
    box-shadow: 1px 0px 26px -4px rgba(0,0,0,0.75);
    z-index: 2000;
   }
   #contactanimation{
    width: 100%;
 
  
   }

   .contactform{
    padding: 0px 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

  .herosection_sm{
    margin-top: 0px;
  }

  .hero_layout1{
    background-color: rgba(0, 255, 255, 0);
  }

  .hero_layout1_sm{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
  }
  .hero_layout1 h1{
    font-weight: 900;
    font-style: normal;
    font-size: 3.5rem;
  }
  .hero_layout1_sm h1{
    font-weight: 900;
    font-style: normal;
  }
  .hero_layout1 h3{
    margin-top: 20px;
    font-weight: 500;
    font-style: normal;
  }
  .hero_layout1_sm h3{
    margin-top: 10px;
    font-weight: 500;
    font-style: normal;
  }
  .hero_layout1_booking_buttton{
    background-color: transparent;
    border: solid 1px rgba(0, 51, 52, 1);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero_layout1_booking_buttton:hover{
    background-color: #003334;
    color: white;
    border: none;
  }
  .hero_layout1_booking_buttton:active{
    opacity: 0.8;
  }
  .hero_layout1_booking_buttton_sm{
    background-color: transparent;
    border: solid 1px rgba(0, 51, 52, 1);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .hero_layout2{
    background-color: rgba(44, 158, 74, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    
  }
  .customerreviewsvg :hover{
     background-color:rgba(210, 255, 7, 1);
     border-radius: 30px;
    
  }
  .customerreviewsvg:active{
    opacity: 0.6;
  }
  
  

  /* herosection ends*/

  /* section2 start*/
  .section2{
  background-image: url('../assert/background.png') ;
  padding-bottom: 150px;
  margin-top: 10%;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .section2layer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  .section2layer1 h2 span{
    color:rgba(210, 255, 7, 1);
  }
  .section2layer1 h2{
    font-weight: 700;
    font-size: 4rem;
    color: white;
  }
  .section2layer1 h3{
    font-weight:300;
    font-size: 1.5rem;
    color: white;
  }
  .section2layer2{
   background-color:rgba(210, 255, 7, 1);
   display: flex;
   justify-content: center;
   align-items: center;
   gap:6%;
   margin-top: 10%;
   padding: 30px 0px;
  }
  .yearofexperience{
     font-weight:900;
     font-size: 5rem;
     text-align: center;
  }
  .Projectsinlaunch{
    font-weight:900;
    font-size: 5rem;
    text-align: center;

  }
 .satisfiedcustomer{
  font-weight:900;
  font-size: 5rem;
  text-align: center;

 }
  /* section2 ends*/
  /* section3 start*/
 .section3{
  padding-top: 60px;
  padding-bottom:60px;
  padding-left: 30px;
  background-color:rgba(0, 51, 52, 1) ;
  margin-top: 40px;
 }
 .section3_layer1_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .section3_layer1_1 h3{
  color: white;
  font-size: 3rem;
 }
 .section3_layer1_1 p{
  color: white;
  text-align: justify;
  font-weight: 300;
 }
 .section3_layer2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 }

  /* section3 ends*/
  
  /* section4 start*/
  #fencedesign{
    margin-left: 33px;
  }
  #hourssupport{
    width: 300px;
    height: 300px;
  }
  .section4 h3{
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 3rem;
    color: black;
    text-align: center;
  }
  .section4_grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    column-gap: 8%;
    height: fit-content;
    margin-bottom: 170px;
  }
  .grid-item{
    background-color:	white;
    box-shadow: -1px -1px 20px 9px rgba(0,0,0,0.24);
    padding: 10% 10%;
    border-radius: 20px;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .grid-item:hover{
    border-radius: 10px;
    width: 240px;
    height: 240px;
    opacity: 0.8;
    box-shadow: none;
    border: solid 2px #003334;
  }


  .grid-item p{
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: black;
  }
  
  /* section4 ends*/

   /* section5 starts*/
   @keyframes slider{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
   }
   .section5_videoslider{
     display: flex;
     display: inline-block;
     flex-direction: row;
     animation: 60s slider infinite linear;
   }
   .section5_videoslider video{
     margin: 5px;
     margin-left: 20px;
     background-color: rgba(240, 248, 255, 0);
     border-radius: 20px;
 
   }
   .section5{
    white-space: nowrap;
    overflow: hidden;
    background-color:rgba(0, 51, 52, 1) ;
    padding-top: 50px;
    padding-bottom:30px ;
   }
   .section5 h3{
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 30px 0px;
   }
  
  /* section5 ends*/

   /* section6 starts*/
   @keyframes reverslider{
    from{
      transform: translateX(-100%);
    }
    to{
      transform: translateX(0);
    }
   }

   .section6{
    white-space: nowrap;
    overflow: hidden;
    padding-top: 20px;
   }
   .section6 h3{
    text-align: center;
    font-size: 3rem;
    padding: 30px 0px;
    font-weight: 700;
   }

  .section6_ourclientslider{
    background-color: white;
    animation:10s reverslider linear infinite;
    display: inline-block;
    white-space: nowrap;
  }
  .section6_ourclientslider img{
     margin: 20px;
  }
   /* section6 End*/
   
   /* section7 starts*/
   
   .section7{
    background-color:rgba(0, 51, 52, 1);
    padding-bottom: 60px;
    padding-top: 40px;
   
   }
   .ourprocess{
      text-align: center;
      font-size: 3rem;
      padding: 30px 0px;
      font-weight: 700;
      color: white;
   }
   .section7_layer1{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.75);
   }
   .layer7_img{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .layer7_steps h2{
      font-weight: 600;
      font-size: 2rem;
      padding: 20px 0px;
   }
   .layer7_steps h3{
    padding: 5px 0px;
   }
  

   /* section7 End*/
   /* section8 starts*/
   .section8{
    overflow: hidden;
   
   }
   .section8 h2{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding: 30px 0px;
   }
   .section8_button{
    display: flex;
    align-items: center;
    justify-content: center;

   }
   .section8_button button{
    background-color: transparent;
    border: solid 1px rgba(0, 51, 52, 1);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
   }
   /* section8 End*/
    /* section9 start*/
    .section9 h2{
      font-weight: 700;
      font-size: 3rem;
      padding: 10px 0px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color:rgba(0, 51, 52, 1);
      color: white;
      border-radius: 20px;
    }
    .section9{
      padding-bottom:30px ;
    }
 

  /* ---------------------------------------------990px----------------------------- */

  @media only screen and (max-width: 990px) {
     /* navigation page */
     header{
      margin-top: 5px;
      position: relative;
    }
    .logoimg{
      background-color: rgba(97, 165, 142, 0);
      position: absolute;
      top: 10%;
      left: 83%;
      width: 70px;
    }
    .navbarcontain{
        background-color:rgb(143, 205, 143);
        border: none;
        border-radius: 0;
    }
    .navbaritermactivate{
        background-color:transparent;
        border: none;
        width: 0%;
        padding: 10px 0px;
    }
      /* navigation page */

        /* herosection  starts*/

        #contactanimation{
          width: 15rem;
          
          
         }
      .herosection{
        margin-top: 0px;
    
      }
      /* section2 start*/
      .section2{
        background-image: url('../assert/background.png') ;
        width: 100%;
        padding-bottom: 100px;
        }
      .section2layer2{
        background-color:rgba(210, 255, 7, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        gap:2%;
        margin-top: 10%;
        padding: 20px;
       
       }
       .section2layer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
      }
        .section2layer1 h2{
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
      }
      .section2layer1 h3{
        font-weight: 100;
        font-size: 1.2rem;
      }
      .yearofexperience{
        font-weight:900;
        font-size: 3rem;
        text-align: center;
      }
      .Projectsinlaunch{
        font-weight:900;
        font-size: 3rem;
        text-align: center;
  
      }
      .satisfiedcustomer{
      font-weight:900;
      font-size: 3rem;
      text-align: center;
    
      }
      .section2sub{
       font-size: 0.9rem;
      }
        /* section2 end*/
        /* section3 start*/
        .section3{
          padding-top: 80px;
          padding-bottom:80px;
          padding-left: 15px;
          background-color:rgba(0, 51, 52, 1) ;
          margin-top: 40px;
         }
        /* section3 ends*/
         /* section4 start*/
        .section4_grid_container{
          display: grid;
          grid-template-columns: auto auto ;
          align-items: center;
          justify-content: center;
          row-gap: 5%;
          column-gap: 10%;
          margin-bottom: 430px;
          
        }
        #hourssupport{
          grid-row: span 2;
          background-color:rgba(210, 255, 7, 0.801) ;
      
         
        }
        #fencedesign{
          margin-left: 0px;
        }
   
          /* section4 ends*/

         /* section7 starts*/
         .section7_layer1{
          background-color: rgb(255, 255, 255);
          padding: 30px;
          border-radius: 30px;
         }
         .layer7_img{
          display: flex;
          align-items: center;
          justify-content: center;
         }
         .layer7_steps h2{
            font-weight: 600;
            font-size: 2rem;
            padding: 20px 0px;
            text-align: center;
         }
         .layer7_steps h3{
          padding: 5px 0px;
          text-align: center;
          text-decoration-line: underline;
         }
         .layer7_steps p{
          text-align: justify;
         }
        
         /* section7 end*/
  }
  /* ---------------------------------------------576px----------------------------- */
  @media only screen and (max-width: 576px){
     /* section2 start*/

     .logoimg{
    
      display: none;
    }
    .section2{

      background-image: url('../assert/background.png') ;
      width: 100%;
      padding-bottom: 100px;
      border-radius: 10px;
      }
    .section2layer2{
      background-color:rgba(210, 255, 7, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:5%;
      margin-top: 10%;
      padding: 20px;
     
     }
     .section2layer1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 70px;
    }
      .section2layer1 h2{
      font-weight: 700;
      font-size: 2rem;
    }
    .section2layer1 h3{
      font-weight: 300;
      font-size: 1rem;
      text-align: center;
    }
    .yearofexperience{
      font-weight:900;
      font-size: 4rem;
      text-align: center;
    }
    .Projectsinlaunch{
      font-weight:900;
      font-size: 4rem;
      text-align: center;

    }
    .satisfiedcustomer{
    font-weight:900;
    font-size: 4rem;
    text-align: center;
  
    }
    .section2sub{
      font-size: 0.8rem;
      text-align: center;
    }
     /* section2 end*/
        /* section3 start*/
        /* section3 ends*/
      /* section4 start*/

      .section4 h3{
        text-align: center;
        padding: 20px;
      }
      .section4_grid_container{
        display: grid;
        grid-template-columns: auto ;
        align-items: center;
        justify-content: center;
        row-gap: 1%;
        margin-bottom: 220px;
        
      }
      .grid-item{
      
        padding: 20px 80px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        
      }
      .grid-item:hover{
        width: 300px;
      }
      .grid-item p{
       text-align: center;
      }
    
    
      
      /* section4 ends*/
      
  }